.avatar {
  padding: 0;
}
.avatar img {
  width: 100%;
}
body {
  background-color: #fff;
}
#main-nav ul {
  padding: 0;
  list-style-type: none;
}
#main-nav li {
  height: 61px;
  line-height: 61px;
  background-color: #74b7e0;
  text-align: center;
  border: 1px solid #fff;
  font-size: 1.2em;
}
#main-nav li a {
  color: #fff;
  display: inline-block;
  width: 100%;
  line-height: 1.2em;
  vertical-align: middle;
}
article,
aside {
  text-align: justify;
}
.widget.tag li {
  margin-bottom: 10px;
  text-align: left;
}
article {
  padding-right: 20px;
  line-height: 1.5em;
  font-size: 1.2em;
  margin-left: -15px;
}
article h1 {
  font-size: 28px;
}
.addthis {
  font-size: 1em;
}
#footer {
  clear: both;
}
#vkshare0 td a {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.search {
  margin-top: 7px;
  margin-bottom: 30px;
}
.search input {
  background: #fff;
  font-family: font-title;
  font-style: italic;
  font-size: 1em;
  padding: 5px 15px;
  border: 1px solid;
  width: 100%;
  box-sizing: border-box;
}
.navigation {
  margin-top: 20px;
}
#header {
  margin-top: 20px;
}
#header .skypeBtn {
  display: inline-block;
}
#header .skypeBtn img {
  vertical-align: middle !important;
  margin: 0 0 0 10px !important;
}
#header h3 {
  font-size: 50px;
}
#header h4 {
  font-size: 30px;
}
#header h5 {
  margin-top: 0;
  font-size: 20px;
}
#header .navigation {
  clear: both;
  position: relative;
}
#header .navigation .site-name {
  position: absolute;
  top: 30%;
  left: 5%;
}
#header .navigation .site-name h3 {
  font-size: 3.5vw;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.mailto {
  margin-left: -8px;
  margin-top: 16px;
  position: relative;
}
.mailto .questionmark {
  position: absolute;
  left: 15%;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}
.mailto div {
  cursor: pointer;
  height: 61px;
  line-height: 61px;
  background-color: #69d2b2;
  text-align: center;
  border: 1px solid #fff;
  font-size: 1.2em;
}
.mailto div a {
  color: #fff;
  display: inline;
  width: 100%;
  line-height: 1.2em;
  vertical-align: middle;
}
.contacts {
  font-size: 20px;
  line-height: 50px;
}
.addthis .list-inline li {
  vertical-align: top;
}
