<article class="page">
  
  <div class="post-content ">
    <header>
      
      
  
    <h3 class="title">Рада приветствовать Вас на сайте психологической консультации!</h3>
  

    </header>
 
    <div class="entry">
<p>Меня зовут Наталия Куликова, я практикующий психолог, психотерапевт, член Украинского союза психотерапевтов.
</p> 
<p>Работаю в психодинамическом методе. Что это значит для клиента? Прежде всего то, что работа происходит через разговор. Во время консультации или психотерапевтической сессии я (за редким исключением) не использую рисуночных, телесных, гипнотических техник или домашних заданий. В разговоре вместе с клиентом мы исследуем проблему, и я помогаю клиенту расширить ее понимание за счет смыслов ранее им не осознаваемых. Это должны быть смыслы самого клиента или клиентки, а не мои “правильные” идеи. Мне важно помочь клиенту найти в себе ресурсы справиться с проблемой, чтобы потом он или она в похожих ситуациях могли помогать себе сами.
</p>
<p>
В зависимости от запроса клиента или клиентки, я предлагаю консультацию или же, если нужно, психотерапию. Подробней о том, чем отличаются эти виды работы, Вы можете посмотреть <a href="/">тут</a>. Первая встреча обязательно проходит очно. Индивидуальная консультация длится 50 минут, для пар и семей - 1,5 часа. 
Я работаю индивидуально, консультирую пары и семьи, также веду группы личностного роста.
</p>
<p>
Мне нравится помогать людям, и я люблю свою работу за ее отдачу: помогая клиентам лучше понимать себя, я также обучаюсь у них. И в своей практике не перестаю удивляться, сколько неожиданных, креативных ресурсов есть в человеке.
</p>
     
      
    </div>
    <footer>
      
        
        
      
      <div class="clearfix"></div>
    </footer>
  </div>
</article>