<article class="page">

  <div class="post-content ">
    <header>



    <h3 class="title">Вітаю на своєму сайті!</h3>


    </header>

    <div class="entry">





<p>Я практикуючий психолог, психотерапевт, член двох професійних організацій - Української спілки психотерапевтів та Спілки психологів і психотерапевтів України. </p>

<p>Працюю із дорослими клієнтами, парами (сім’ями) та групами у методі психоаналітичної психотерапії. Про те, як працює метод - Ви можете дізнатись <a href="/pro-psychoanalitychnu-psyhoterapiju/">тут</a>.</p>

<p>Про те, з якими проблемами я працюю, - Ви можете дізнатись <a href="/problemy-z-yakimy-ya-pracuju/">тут</a>.</p>

<p>А докладно про мій досвід роботи, освіту і кваліфікацію - <a href="/moya-kvalifikaciya/">тут</a>.</p>

<p>Спілкуюcь мовою клієнта - українською, по-русски, in English.</p>

<p>Буду рада стати Вам корисною, що б Вас не привело на мій сайт - психологічна проблема, проблема вибору чи просто цікавість до свого внутрішнього світу.</p>

<p>З повагою,<br/>
Наталія Куликова</p>


    </div>
    <footer>
      <div class="clearfix">

      </div>
    </footer>
  </div>
</article>
