common_bkg = #FFFAC3
common_bkg = #FFFFFF


orange = #FFC990
grey = #988780
blue = #74B7E0
brown = #DAA97E
red = #FA9E93
green = #69D2B2

btn_height = 61px
sm_btn_height = 41px

.avatar {
  padding 0

  img {
    width 100%
  }
}

body{
  background-color common_bkg
}

#main-nav{
  ul{
    padding 0
    list-style-type none
  }
  li{
    height btn_height
    line-height btn_height
    background-color blue
    text-align center
    border 1px solid common_bkg
    font-size 1.2em
    a{
      color #ffffff
      display inline-block
      width 100%
      line-height 1.2em
      vertical-align middle
    }
  }



}

article, aside {
  text-align justify
}

.widget.tag {
  li {
    margin-bottom 10px
    text-align left
  }
}

article {
  padding-right 20px
  line-height 1.5em
  font-size 1.2em
  margin-left -15px
  h1 {
    font-size 28px
  }
}

.addthis {
  font-size 1em
}

#footer {
  clear both
}

#vkshare0 td a{
  -webkit-box-sizing content-box
  -moz-box-sizing content-box
  box-sizing content-box
}

.search
  margin-top 7px
  margin-bottom 30px
  input
    background #fff
    font-family font-title
    font-style italic
    font-size 1em
    padding 5px 15px
    border 1px solid
    width 100%
    box-sizing border-box

.navigation
  margin-top 20px

#header{
  margin-top 20px
  .skypeBtn {
    display inline-block
    img {
      vertical-align middle !important
      margin 0 0 0 10px !important
    }
  }
  h3 {
    font-size: 50px
  }
  h4 {
    font-size 30px
  }
  h5 {
    margin-top 0
    font-size 20px
  }
  .navigation{
    clear both
    position relative
    .site-name {
      position absolute
      top 30%
      left 5%
      h3 {
        font-size 3.5vw
      }
    }
  }

}
.alignleft{
  float left
}
.alignright{
  float right
}

.mailto{
  margin-left -8px
  margin-top 16px
  position relative
  .questionmark {
    position absolute
    left 15%
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  div{
    cursor pointer
    height btn_height
    line-height btn_height
    background-color green
    text-align center
    border 1px solid common_bkg
    font-size 1.2em
    a{
      color #ffffff
      display inline
      width 100%
      line-height 1.2em
      vertical-align middle
    }
  }
}
.contacts{
  font-size 20px
  line-height 50px
}

.addthis .list-inline li{
  vertical-align top
}
