blue = #1ba1e2
magenta = #a200ff
purple = #ff0097
teal = #00aba9
lime = #9cbf26
brown = #a05000
pink = #e671b8
orange = #f09609
red = #e51400
green = #339933

btn_height = 73px

.nana {
  width 230px
}

#main-nav{
  ul{
    list-style-type none
  }
  li{
    height btn_height
    line-height btn_height
    background-color blue
    text-align center
    border 1px solid #ffffff
    font-size 1.2em
    a{
      color #ffffff
      display block
      width 100%
      height btn-height
    }
  }
  li + li{
    background-color green
  }
  li + li+ li{
    background-color red
  }
  li + li+ li+ li{
    background-color teal
  }
  li + li+ li+ li+ li{
    background-color brown
  }
  li + li+ li+ li+ li+ li{
    background-color orange
  }
  li + li+ li+ li+ li+ li+ li{
    background-color purple
  }
  li + li+ li+ li+ li+ li+ li+ li{
    background-color pink
  }
  li + li+ li+ li+ li+ li+ li+ li + li{
    background-color lime
  }


}
