common_bkg = #FFFAC3
common_bkg = #FFFFFF


orange = #FFC990
grey = #988780
blue = #535379
brown = #DAA97E
red = #FA9E93
green = #B3B15A

btn_height = 114px

.avatar {
  padding 0

  img {
    width 244px
  }
}

body{
  background-color common_bkg
}

#main-nav{
  ul{
    list-style-type none
  }
  li{
    height btn_height
    line-height btn_height
    background-color orange
    text-align center
    border 1px solid common_bkg
    font-size 1.2em
    a{
      color #ffffff
      display inline-block
      width 100%
      line-height 1.2em
      vertical-align middle
    }
  }
  li + li{
    background-color blue
  }
  li + li+ li{
    background-color grey
  }
  li + li+ li+ li{
    background-color red
  }
  li + li+ li+ li+ li{
    background-color brown
  }
  li + li+ li+ li+ li+ li{
    background-color green
  }



}

article, aside {
  margin-top 30px
  text-align justify
}

article {
  padding-right 20px
  line-height 1.5em
  font-size 1.3em
  margin-left -15px
  h1 {
    font-size 28px
  }
}

.addthis {
  font-size 1em
}

#footer {
  clear both
}

#vkshare0 td a{
  -webkit-box-sizing content-box
  -moz-box-sizing content-box
  box-sizing content-box
}

.search
  margin-top 7px
  margin-bottom 30px
  input
    background #fff
    font-family font-title
    font-style italic
    font-size 1em
    padding 5px 15px
    border 1px solid 
    width 100%
    box-sizing border-box

.navigation
  margin-top 20px

#header{
  h3 {
    font-size: 33px
  }
  h4 {
    font-size: 30px;
  }
}
