.nana {
  width: 230px;
}
#main-nav ul {
  list-style-type: none;
}
#main-nav li {
  height: 73px;
  line-height: 73px;
  background-color: #1ba1e2;
  text-align: center;
  border: 1px solid #fff;
  font-size: 1.2em;
}
#main-nav li a {
  color: #fff;
  display: block;
  width: 100%;
  height: btn-height;
}
#main-nav li + li {
  background-color: #393;
}
#main-nav li + li+ li {
  background-color: #e51400;
}
#main-nav li + li+ li+ li {
  background-color: #00aba9;
}
#main-nav li + li+ li+ li+ li {
  background-color: #a05000;
}
#main-nav li + li+ li+ li+ li+ li {
  background-color: #f09609;
}
#main-nav li + li+ li+ li+ li+ li+ li {
  background-color: #ff0097;
}
#main-nav li + li+ li+ li+ li+ li+ li+ li {
  background-color: #e671b8;
}
#main-nav li + li+ li+ li+ li+ li+ li+ li + li {
  background-color: #9cbf26;
}
